@charset "ur\tf-8";

#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  position: fixed;
}
#header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#header .logo {
  width: 150px;
  height: 100px;
  background: url(../img/logo_w.png) no-repeat center center;
  background-size: contain;
}
#header.fixed {
  background: #fff;
}
#header.fixed .logo {
  width: 150px;
  height: 100px;
  background: url(../img/logo_b.png) no-repeat center center;
  background-size: contain;
}
#header .logo a {
  opacity: 0;
}
#header .mainMenu {
  width: 60%;
}
#header .mainMenu ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#header .mainMenu ul li a {
  font-size: 20px;
}
#header.fixed .mainMenu ul li a {
  font-size: 20px;
  color: #333;
}
#header .mainMenu ul li a:hover {
  font-weight: bold;
}
#header .btn {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
#header .btn button i {
  font-size: 30px;
}
#header .btn button i:hover {
  font-weight: bold;
}
#header.fixed .btn button i {
  color: #333;
}
#visual {
  background: url(../img/vs1.png) no-repeat center center;
  width: 100%;
  height: 950px;
  background-size: cover;
  color: #fff;
  position: relative;
}
#visual .wrap .visual_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#visual .wrap .visual_text h1 {
  font-size: 50px;
  font-weight: 200;
  line-height: 1.5;
}
#visual .wrap .visual_text p {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.09em;
}
#biz {
  margin-top: 200px;
  margin-bottom: 200px;
}
#biz img {
  width: 730px;
  height: 376px;
}
#biz .group1 {
  margin: 109px 0 69px 0;
}
#biz .group2 {
  margin-bottom: 69px;
}
#biz .fleft img {
  float: left;
}
#biz .inner {
  width: 510px;
}
#biz .fleft .inner {
  float: right;
  margin-left: 40px;
}
#biz .fright img {
  float: right;
}
#biz .fright .inner {
  float: left;
  margin-right: 40px;
}
#biz h2 {
  margin: 32px 0 8px 0;
  font-size: 40px;
  font-weight: 700;
}
#biz strong {
  display: block;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 400;
}
#biz .link {
  margin-top: 36px;
}
#biz .link ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#biz .link ul li {
  flex-basis: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#biz .link ul li a {
  display: block;
  line-height: 39px;
  white-space: nowrap;
  text-align: center;
}
#biz .link ul li:hover {
  background: #333;
  color: #fff;
}
#goal {
  width: 100%;
  height: 400px;
  background: url(../img/goal.png) no-repeat top left;
  background-size: cover;
  color: #fff;
  position: relative;
  margin-bottom: 100px;
}
#goal .goal_inner {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#goal .goal_inner h2 {
  font-weight: 200;
  font-size: 30px;
  line-height: 1.5;
}
#goal .goal_inner p {
  font-weight: 500;
  font-size: 25px;
  line-height: 2;
}
#news {
  margin-bottom: 100px;
}
#news h2 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}
#news ul {
  display: flex;
  gap: 40px;
}
#news ul li {
  width: 290px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#news ul li a {
  display: block;
}
#news ul li a img {
  width: 265px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 10px;
}
#news ul li a:hover img {
  opacity: 0.7;
}
#news ul li a .news_tit {
  display: block;
  margin: 20px 0;
  font-weight: 500;
  font-size: 18px;
}
#news ul li a:hover .news_tit {
  text-decoration: underline;
}
#news ul li a .news_text {
  font-size: 16px;
  font-weight: 300;
}
#news ul li a .date {
  display: block;
  margin: 20px 0;
  text-align: right;
}
#footer {
  padding: 40px 2px 73px 0;
  height: 100px;
  background-color: #222;
  color: rgba(255, 255, 255, 0.8);
}
#footer .wrap {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
#footer .footer1 {
  opacity: 0.7;
}
#footer .footer1 h1 {
  display: block;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 20px;
  padding: 20px 0;
}
#footer .footer1 span {
  font-size: 15px;
  font-weight: 100;
  margin: 10px 0;
  display: block;
}
#footer .footer2 {
  opacity: 0.7;
}
#footer .footer2 select {
  background: transparent;
  padding: 10px 20px;
  color: #fff;
}
#footer .footer2 select option {
  color: #333;
  padding: 10px 20px;
}
#footer .footer3 {
  opacity: 0.7;
}
#footer .footer3 ul {
  display: flex;
  gap: 30px;
}
#footer .footer3 ul li a img {
  width: 30px;
  height: 30px;
}
