@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");

/*

font-family: "Gaegu", cursive;

*/
@font-face {
  font-family: "Cafe24Supermagic-Bold-v1.0";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
